
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: lightgray;
    text-align: center;
    font-size: 32pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

.upper {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    background-color: orange;
    
}

.calculator {
    height: 80vh;
    width:  50vh;
    border: solid black 2px;
    border-radius: 20px;
    background-color: gainsboro;

}

.calculator-item {
    margin-left: 5vh;
    margin-right: 5vh;
    margin-bottom: 1vh;
    gap: 1vh;
}

.display {
    margin: 3vh;
    height: 20vh;
    border: solid black 1px;
    background-color: rgb(99, 148, 99);
    border-radius: 5px;
}


.first {
    display: flex;
    height: 5vh;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex: 1 1 0%;
}

.second, .third, .fourth, .fifth {
    display: flex;
    height: 10vh;
}


